<!-- Header navbar partial -->
<nav>
    <div class="logo">
        <a href="/"><span>Magic Notes</span></a>
        <a href="#">Home</a>
    </div>
    <div class="search">
        <input type="text" id="search" placeholder="Search">
        <a href="/logout">Logout</a>
    </div>
</nav>