<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/style/header.css">
    <link rel="stylesheet" href="/public/style/register.css">
    <title>Register - Magic Notes</title>
</head>

<body>
    <!-- Navbar -->
    <nav>
        <div class="logo">
            <a href="/"><span>Magic Notes</span></a>
        </div>
    </nav>

    <!-- Register Section -->
    <h1>Register Yourself</h1>
    <section class="container">
            <% if ( typeof err != 'undefined' ) { %>
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert" onclick="closeAlert()">&times;</button>
                <strong><%= err %></strong>
            </div>
            <% } %>
        <form action="/register" method="POST">
            <div class="name-container">
                <label for="name">Full Name</label>
                <input type="text" id="name" name="name" placeholder="Enter Your Name" value="<%= typeof name != 'undefined'? name : '' %>" required autofocus>
            </div>
            <div class="email-container">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter Your Email" value="<%= typeof email != 'undefined'? email : '' %>" required>
            </div>
            <div class="password-container">
                <label for="password">Choose A Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="confirm-password-container">
                <label for="confirm-password">Confirm Your Password</label>
                <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm Password"
                    required>
            </div>
            <button type="submit">Register</button>
            <p>Already registered? <a href="/">Login Here</a></p>
        </form>
    </section>


    <script>
        //alert
        function closeAlert () {
            const alert = document.querySelector('.alert');
            alert.classList.toggle('display');
        }
    </script>
</body>

</html>